@page "/MyRentedMovies"
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<h3>MyRentedMovies</h3>

@code {
    private int counter = 0;
    private bool isUserAuthorized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var token = await LocalStorage.GetItemAsync<string>("token");
        if (token == null)
        {
            isUserAuthorized = false;
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            isUserAuthorized = true;
        }

        if (counter == 0)
        {
            counter++;
            StateHasChanged();
        }
    }
}
